@search-bar-width: 256px;
@search-bar-transition-time: 200ms;
@search-bar-transition-easing: cubic-bezier(0.23, 1, 0.32, 1);

.search-bar-wrap {
  display: inline-block;
  
  .search-bar {
    outline: none;
    border: none;

    position: relative;
    bottom: 7px;
    width: 0;
    font-size: 16px;

    transition: width @search-bar-transition-time @search-bar-transition-easing;

    background: rgba(0, 0, 0, 0.087);
    border-radius: 3px;
  }
  .search-bar-open {
    width: @search-bar-width;
    padding: 7px;
  }
  
}