html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -100;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
  background: rgba(256, 256, 256, 0.5);
}

main {
  position: absolute;
  top: 15%;
  width: 100%;
  font-weight: 100;
  margin-left: 20px;
  color: white;
}

.browser-warning {
  display: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.btn-link {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 16px 39px;
  outline: none;
  margin-right: 7px;
  display: inline-block;
  color: white;
  transition: background 300ms;
}

.btn-link:hover {
  background: rgba(0, 0, 0, 0.7)
}

a.link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #2f62d4;
  margin-top: 20px;
  opacity: 0.9;
}

.login-box {
  width: 15%;
  height: 200px;
  margin: auto;
  position: static;
  padding: 50px;
  opacity: 0.9;
  border-radius: 2px;
  width: 25%;
  height: 100%;
  padding: 30px 0;
  text-align: center;
}

.login-box h3 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.login-email, .login-password {
  margin: auto;
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.1);
  height: 20px;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 2px;
}

.auth-local-message {
  color: #F25151;
  font-weight: 400;
  margin-top: 10px;
}