$grayColor: #504944;

body {
  margin: 0;
  font-family: 'Roboto';
}

.page {
  z-index: 2;
  transition: top 300ms;
  width: 100%;
  position: absolute;
  background-color: #f0f1f2;

  &.open {
    top: 64px;
    left: 0;
  }
  &:not(.open) {
    top: 100%;
    /* transitions don't work if display is changed,
    thus we have to use this  to hide it when closed instead */
    left: -100%;
  }

}

.header {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.right {
  float: right;
  width: 80%;
  margin-left: 30px;
}

.left {
  float: left;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header img {
  height: 150px;
}

.title {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  color: black;
}

.subtitle {
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 15px;
}

.blurb {
  margin-top: 5px;
  line-height: 1.7;
  color: white;
  font-weight: 300;
}
nav {
  border-right: 1px solid #C1BFBF;
  margin: 0;
  padding-top: 0;
  float: left;
  width: 25%;
  margin-top: 25px;
  span {
    font-weight: 500;
  }
  span, ul li {
    padding: 20px;
    padding-left: 50px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      transition: background 500ms;
      text-transform: uppercase;
      cursor: pointer;
      color: $grayColor;
      &:hover {
       background: #ebebeb;
      }
      &.selected {
        font-weight: 500;
      }
    }
  }
  text-align: left;
}
main {
  float: left;
  width: 67%;
  margin-left: 30px;
  margin-top: 5px;
  h1 {
     font-weight: 400;
     font-size: 26px;
     text-transform: capitalize;
  }
  p {
    color: $grayColor;
    font-weight: 300;
    line-height: 1.7;
    font-size: 16px;
  }
  hr {
    width: 20%;
  }
  section:last-child {
    margin-bottom: 20px;
    hr {
      display: none;
    }
  }
}
